.jumbotron {

    background: #F5F5DC;
   
}


h1 {
	font-family: 'Droid Serif', serif;

}


h2 {
	font-family: 'Droid Serif', serif;


}

p {
	font-family: 'PT Sans', sans-serif;

}

body {
	background-color: #F5F5DC;
	font-family: 'PT Sans', sans-serif;

}