.jumbotron {
    background: #5F9EA0;
   margin: 10px;
   padding: 20px;
}


h1 {
	font-family: 'Droid Serif', serif;
	color: #F5F5DC;
	text-align: center;
}


h2 {
	font-family: 'Droid Serif', serif;
	color: #5F9EA0;
	font-style: bold;

}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 12px;

}

body {
	background-color: #F5F5DC;
	font-family: 'PT Sans', sans-serif;

}