.jumbotron {
  background: #5F9EA0;
   margin: 10px;
   padding: 0px 20px;
}


h1 {
	font-family: 'Droid Serif', serif;
	color: #F5F5DC;
	text-align: center;
}


h2 {
	font-family: 'Droid Serif', serif;
	color: #5F9EA0;
	font-style: bold;

}

p {
	font-family: 'PT Sans', sans-serif;
	margin: 12px;

}

p2{
  line-height: 2em;
}

body {
	background-color: #F5F5DC;
	font-family: 'PT Sans', sans-serif;

}

.mainPhoto{
  height: 90%;
  width: 90%;
}

.mainContent{
  margin-bottom: 50px;
}

#mc_embed_signup {
	background-color: #ffb6c1;
	padding: 10px;
	border: 2px solid black;
	box-shadow: 10px 10px 5px grey;
}
